.section {
  padding-inline: var(--pf-t--global--spacer--md);
  padding-block: var(--pf-t--global--spacer--md);
}

.totalValue {
  font-size: var(--pf-t--global--font--size--2xl);
  font-weight: var(--pf-t--global--font--weight--bold);
  color: var(--pf-t--global--text--color--regular);
}

.description {
  font-size: var(--pf-t--global--font--size--sm);
  font-weight: var(--pf-t--global--font--weight--bold);
  color: var(--pf-t--global--text--color--subtle);
}
