.bar {
  padding-top: var(--pf-t--global--spacer--xl);
  div {
    display: inline-block;
  }
  width: 100%;
}

.legend {
  svg {
    margin-right: 0.2em;
  }
}

.serviceAvailability {
  //background-color: var(--pf-v6-chart-color-blue-300);
  background-color: #92c5f9;
  color: #92c5f9;
}

.performance {
  // background-color: var(--pf-v6-chart-color-blue-100);
  background-color: #0066cc;
  color: #0066cc;
}

.security {
  // background-color: var(--pf-v6-chart-color-yellow-300);
  background-color: #ffcc17;
  color: #ffcc17;
}

.faultTolerance {
  // background-color: var(--pf-v6-chart-color-yellow-100);
  background-color: #b98412;
  color: #b98412;
}
